:root {
  --indigo-dye: #244166ff;
  --indigo-dye-darker: rgb(31, 56, 88);
  --non-photo-blue: #a7dfe6ff;
  --old-lace: #fff6e8ff;
  --pink: #f8bec8ff;
  --fuchsia-rose-lighter: rgb(215, 82, 135);
  --fuchsia-rose: #c94277ff;
  --night: #0a0a0aff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
