/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    position: relative;
    background: white;
    padding: 35px 45px;
    border-radius: 8px;
    width: 35%;
    text-align: center;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--night);
  }

  p {
    color: var(--night);
    font-size: 14px;
  }
  
  .modal_password {
    position: relative;
    margin: 50px 0;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .modal-actions {
    margin-top: 20px;
  }
  
  .modal-actions button {
    margin: 0 10px;
    padding: 10px 20px;
  }
  