.form-input {
    position: relative;
    margin-bottom: 20px;
    align-items: center;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    font-size: 16px;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
}

.input:focus {
    border-bottom: 2px solid var(--porcelain-blue);
}

/* Initial state */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: var(--grayish);
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    padding: 10px 0;
}

.input:focus-within + .input-label{
    color: var(--porcelain-blue);
    font-size: 10px;
    top: -20px;
}

.input:not(:focus):valid + .input-label {
    color: var(--grayish);
    font-size: 10px;
    top: -20px;
}

.input:disabled + .input-label {
    color: var(--grayish);
    font-size: 10px;
    top: -20px; 
}

.input:disabled:focus-within + .input-label {
    color: #999; 
    font-size: 10px;
    top: -20px; 
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    color: var(--porcelain-blue);
    outline: none;
}