.profile-picture-upload {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
  }

.upload-input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
}

.upload-label {
  color: var(--grayish);
    display: flex;
    align-items: center;
}
  
.profile-picture-preview {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 20px auto;
    border: 2px solid #ccc;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.profile-picture-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  