.game {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.chessboard-container {
    width: 80vh;
    padding-right: 5%;
}

#chessboard {
    width: 100%;
    height: 100%;
    margin: auto;
}

.game-left-col {
    width: 20%;
    padding: 30px;
    margin: 20px 0;
    background-color: var(--porcelain-blue-lighter);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}

.game-left-col h3 {
    margin-bottom: 35px;
    color: var(--idigo-dye-darker-2);
}

.game-left-col h4 {
    color: var(--idigo-dye-darker-2);
}

.lobbyInfo {
    color: var(--off-white);
}

.leave-game {
    width: 100%;
    margin-bottom: 10px;
}