.admin-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sidebar h2 {
    margin: 0;
    padding-bottom: 10px;
  }
  
  .sidebar h3 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    transition: background-color 0.3s;
  }
  
  .sidebar-item:hover {
    background-color: #add8e6;
  }
  
  .sidebar-item svg {
    margin-right: 10px;
  }
  
  .sidebar-item.active {
    background-color: #004080;
    color: #fff;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  input[type="text"] {
    padding: 8px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 16px;
  }
  
  .table-container {
    margin-top: 20px;
  }
  