.login-container {
    width: 30%;
    /* max-width: 400px; */
    background: #fffdfd;
    padding: 50px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-form {
    width: 90%;
    margin: auto;
}

/* Password */
.password {
    display: flex;
    align-items: center;
    position: relative;
}


.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--porcelain-blue);
    cursor: pointer;
    padding: 0 5px;
    font-size: 18px;
}

/* Login Options */
.login-options {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

.remember-me {
    display: flex;
    font-size: 14px;
}

.remember-me input {
    margin-right: 5px;
}

.remember-me label{
    color: var(--night);
    white-space: nowrap;
}

.captcha {
    margin-left: auto;
    margin-right: auto;
}

.forgot-password a {
    text-decoration: none;
    color: var(--indigo-dye);
    font-size: 14px;
}

/* Sign-up */
.signup {
    margin: 20px 0;
}
.signup p{
    text-align: center;
    margin-top: 20px auto;
    font-size: 14px;
}

.signup a, .sign-up a:visited {
    text-decoration: none;
    color: #007BFF;
    text-decoration: underline;
}
